body{
    background-color: rgb(104, 124, 238);
}
section{
    background-color: rgba(255, 255, 255, 0.26);
    height: 400px;
    width: 600px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto;
    text-align: center;
   
}
button{
    padding: 10px 10px;
    border-radius: 3px 3px 3px 3px;
    background-color: #9bcad2;
    border: 3px solid rgba(124, 104, 238, 0.195)  ;
}
.time{
    background-color: #81e6dfb5;
    padding: 10px 10px 10px 10px;
    border: 3px solid rgba(222, 222, 222, 0.16)  ;
}
